* {
  font-family: "Varela Round", sans-serif;
}

body {
  background: url("https://www.kiddotags.com/Staging2/skin/frontend/default/responsive/images/background4.jpg");
  color: rgba(0, 0, 0, 0.863);
}

.task-container {
  max-width: 680px;
  width: 100%;
  margin: 8rem auto 2rem auto;
}

#myform {
  padding: 2rem 3rem;
  background: #fff;
  border-radius: 2rem;
  position: relative;
  box-shadow: 1px 9px 18px rgba(0, 0, 0, 0.123);
}

.logo {
  position: absolute;
  display: block;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
  top: -75px;
}

.btn-add {
  border: 0;
  color: #fff !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2172f2;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 1.8rem;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  box-shadow: 1px 9px 18px rgba(0, 0, 0, 0.123);
  transition: all 0.2s ease-in;
}

.btn-add:hover {
  background: #0a57d4;
}

.btn-add:active {
  background: #0646ac;
}

.btn-add:focus,
.btn-add:active {
  box-shadow: none;
}

.task-not-available {
  opacity: 0.5;
}

.task {
  background: #fff;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.075);
  padding: 2rem;
  border-radius: 20px;
  position: relative;
}

.task-title::first-letter {
  text-transform: uppercase;
}

.task-item {
  width: 100%;
}

.task-title {
  font-weight: bold;
  font-size: small;
}

.task-description {
  color: rgba(0, 0, 0, 0.575);
  font-size: small;
}

.task-details {
  position: absolute;
  bottom: -18px;
  right: 2px;
  display: flex;
}

.task-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 15px;
  background: #2172f2;
  color: #fff;
  box-shadow: 1px 7px 5px rgba(0, 0, 0, 0.096);
}

.task-detail:not(:last-child) {
  margin-right: 5px;
}

.task-options {
  position: absolute;
  top: 19px;
  right: 18px;
  cursor: pointer;
  z-index: 2;
}
.task-options > i.fa {
  padding: 0.2rem 0.5rem;
}

.task-complete {
  background-color: #158467;
}

.task-incomplete {
  background-color: #ffc93c;
  color: #000;
}

.alert {
  transition: all 0.2s ease-in;
}

.alert-hidden {
  opacity: 0 !important;
  display: none;
}

.alert-visible {
  opacity: 1;
  display: block;
}

@media screen and (max-width: 750px) {
  .task-container {
    max-width: 90%;
  }
}
